/*------------------------------\
    Normalize CSS 
\------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Remove list styles on ul and ol*/
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-size: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for 
people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------\
    BASE - Typography
\------------------------------*/
.text {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

.text--bold {
  font-weight: 700;
}

.text--cap {
  text-transform: uppercase;
}

.text--md {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.text--sm {
  font-size: 0.875rem;
}

p {
  line-height: 1.375rem;
}

/*------------------------------\
    COMPONTENTS - Buttons
\------------------------------*/
.btn {
  background-color: #fb7413;
  border: none;
  border-radius: 1.40625rem;
  color: white;
  padding-bottom: 1.0625rem;
  padding-top: 0.875rem;
  outline: none;
  width: 100%;
}

.btn:hover {
  background-color: white;
  color: #fb7413;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121417;
}

/*------------------------------\
    COMPONENTS - main component
\------------------------------*/
.main-component {
  max-width: 20.4375rem;
  background: transparent radial-gradient(closest-side at 50% 0%, #232a34 0%, #171d26 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  color: white;
  padding: 1.5rem;
  padding-bottom: 2rem;
}

.main-component .star {
  background: #252d37 0% 0% no-repeat padding-box;
  padding: 0.77063rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.main-component p {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  color: #959eac;
}

.main-component form {
  text-align: center;
}

.main-component button {
  margin-top: 1.5rem;
}

/*------------------------------\
    COMPONENTS - rating
\------------------------------*/
.rating {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.rating li {
  float: left;
  width: 42px;
  height: 42px;
  position: relative;
}

.rating label,
.rating input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rating input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.rating input[type="radio"]:checked + label,
.Checked + label {
  background: #7c8798;
}

.rating label {
  padding-top: 5.29px;
  background-color: #252d37;
  border-radius: 50%;
  cursor: pointer;
  color: #959eac;
  z-index: 90;
}

.rating label:hover {
  background: #fb7413;
  color: white;
}

/*------------------------------\
    PRODUCTION / TESTING
\------------------------------*/
/*# sourceMappingURL=main.css.map */